$primary-color:hsl(47, 88%, 63%);
.main{
    display: flex;
    justify-content: center;
    .blog{
        margin-top: 10%;
        width: 365px;
        background-color: #fff;
        border-radius: 10px;
        padding-left: 5px;
        box-shadow: 4px 4px 0 7px black;
        
        img{
            margin-left: 14px;
            margin-top: 13px;
            border-radius: 8px;
        }
        .topic{
            color: black;
            background-color:$primary-color;
            width: 75px;
            border-radius: 8px;
            margin-left: 5px;
            text-align:center;
        }
        .date{
            margin-left:5px;
            color: hsl(0, 0%, 7%);
        }
        .header1{
            margin-left: 5px;
        }
        .topic2{
            margin-left: 5px;
            font-size: 16px;
            color: hsl(0, 0%, 42%);
        }
        .footer1{
            display: flex;
            flex-direction: row;
            .avatar{
                width: 30px;
                height: 30px;
            }
            h5{
                margin-left:8px ;
            }
        }
    }
}
body{
    background-color: $primary-color;
    font-family: Figtree;
    
}